section#about
	.container-small
		h1 Hi, 
		p My name is Michael Yu and I'm a first-year 
			a.text-link(href='https://www.cs.utexas.edu/turing-scholars' target='_blank' rel="noopener noreferrer") Turing Scholar
			|  at the University of Texas at Austin.
		p I enjoy web development, especially front-end. See some examples of my work below! Beyond web-related work, I also enjoy tinkering with 3D printing/fabrication, Arduino, and electronics in general.