section#projects
	.container-small.flex.cl.center-both
		h1 Projects
		.container-project
			.project-desc
				h1 Science Olympiad Practice Tool
				p
					a.text-link(href='https://soinc.org' target='_blank' rel='noopener noreferrer') Science Olympiad
					|  is a multidisciplinary STEM competition for high schoolers consisting of 23 unique events. Some of these events include Rocks & Minerals, Herpetology, and Invasive Species which require competitors to quickly and accurately identify specimens. This tool was written to help prepare for these events.
				small Node, Express, Google Drive API
			.project-img
				img(src='/dist/imgs/portfolio/idgames.svg')
				.project-links
					a(href='https://github.com/mi-yu/idgames' target='_blank' rel='noopener noreferrer')
						i.fa.fa-github
					a(href='https://idgames.herokuapp.com' target='_blank' rel='noopener noreferrer')
						i.fa.fa-link
		.container-project
			.project-desc
				h1 Facebook Insights
				p
					| Reads user's Facebook feed and returns some statistics, including most liked post, shortest post, total words posted, and more.
				small Facebook API
			.project-img
				img(src='/dist/imgs/portfolio/fbinsights.svg')
				.project-links
					a(href='https://github.com/mi-yu/fbinsights' target='_blank' rel='noopener noreferrer')
						i.fa.fa-github
					a(href='https://mi-yu.github.io/fbinsights' target='_blank' rel='noopener noreferrer')
						i.fa.fa-link
		.container-project
			.project-desc
				h1 Mistake Clock
				p
					| I wrote this to document the journey of my freshman year in college. The clock resets every time my roommate and/or I do something dumb. I also developed a backend so we could just fill out a form every time to reset the clock rather than working in the source code.
				small MongoDB, Node, Express
			.project-img
				//img(src='http://via.placeholder.com/300/ffffff')
				.project-links
					a(href='https://github.com/mi-yu/mistake-clock' target='_blank' rel='noopener noreferrer')
						i.fa.fa-github
					a(href='https://mistake-clock.herokuapp.com' target='_blank' rel='noopener noreferrer')
						i.fa.fa-link
		.container-project
			.project-desc
				h1 UT Science Olympiad Alumni Assocation Website
				p
					| A work in progress redesign of the UTSOAA website.
				small Gulp, Sass, Pug, Inkscape
			.project-img
				img.white-bg(src='/dist/imgs/portfolio/utsoaa.svg')
				.project-links
					a(href='https://github.com/mi-yu/utsoaa' target='_blank' rel='noopener noreferrer')
						i.fa.fa-github
					a(href='https://mi-yu.github.io/utsoaa' target='_blank' rel='noopener noreferrer')
						i.fa.fa-link