head
	meta(http-equiv='Content-Type', content='text/html;charset=utf-8')
	meta(name='viewport', content='width=device-width, initial-scale=1')
	script(src='/dist/js/jquery-3.2.1.min.js')
	link(rel='stylesheet', href='/dist/css/style.min.css')
	link(rel='stylesheet', href='/dist/css/font-awesome.min.css')
	title Spotify Visualizer