#app {
	height: 100vh;
	input {
		border: none;
		border-bottom: 1px solid black;
		transition: 0.2s ease all;
		text-align: center;

		&:focus {
			outline: none;
		}
	}

	button {
		cursor: pointer;
	}
}