extends partials/_layout

block content
	#app.container.flex.cl.center-both
		h1.text-center Hello, #{user.displayName}!
		p Search for a song:
		form(action="/app", method="POST").flex.cl
			input(type='text' placeholder='e.g. Ultralight Beam' name='song')
			button#search.btn-bright(type='submit') Visualize
		#songs